html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
  background-color: #333;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.menu ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  display: block;
  padding: 25px;
  color: #fff;
  text-decoration: none;
}

.menu li:hover {
  background-color: #555;
}

.menu ul li:hover > ul {
  display: block;
}

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu ul ul li {
  display: block;
  width: 100%;
}

.menu ul ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu ul ul li:hover {
  background-color: #555;
}

.menu ul ul li:hover > ul {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: auto;
}

.menu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #777;
  padding: 0;
  margin: 0;
}

.menu ul ul ul li {
  display: block;
}

.menu ul ul ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu ul ul ul li:hover {
  background-color: #555;
}

.form_ajout {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.form_ajout label {
  display: block;
  margin-bottom: 8px;
}
  
.form_ajout input[type="text"], input[type="date"], input[type="number"], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.form_ajout button[type="submit"], input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_ajout button[type="submit"]:hover, input[type="submit"]:hover {
  background-color: #45a049;
}

p {
  font-size: 14px;
  margin-top: 16px;
}

.form_modal {
  display: flex;
  justify-content: space-between;
}

.form_modal_modif input, select {
  max-width: 200px;
}

.form_item_modal_select {
  margin: 10px;
}

.form_item_modal_input {
  margin: 10px;
}

#modifModal {
  overflow-y:scroll;
}

.form_item_modal_checkbox {
  display: flex;
}

.form_container_modal_checkbox {
  display: flex;
}

.test {
  display: block;
  margin-left: 20px;
}

h3 {
  font-size: 20px;
  text-align: auto;
  margin-left: 20px;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 1px 1px #fff;
}
.container_absences {
  display: flex;
  justify-content: flex-start
}
.p_absences {
  display: flex;
  margin: 20px;
}
.h3_absences {
  display: flex;
  margin-left: 35px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: auto;
  margin-left: 20px;
  color: #333;
  text-shadow: 1px 1px #fff;
}

.df_absences {
  display: flex;
  margin-left: 20px;
  flex-basis: 80%;
}

#tab {
  cursor: pointer;
}

#tab2 {
  cursor: pointer;
}

.p_Excell_Ajout {
  margin: 20px;
}

.borderTaches {
  border: 1px solid rgb(255, 255, 255)!important;
}
.fc-widget-content {
  min-height: 120px !important;
}
.espace {
  min-height: 25%;
}

/* footer */
footer{
  margin-top: 40px;
  display: flex;
  width: 100%;
  background-color: #333;
  padding-bottom: 2%;
  padding-top: 2%;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-around;
}

.col {
  display: flex;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  flex-flow:column nowrap;
  margin-left: auto;
  margin-right: auto;
}
.col a{
  color: white;
  text-decoration: none;
}
.col h3 {
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
}
.col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.col p {
  color: white;
  font-size: 15px;
  padding: 5px 0px 5px 0px;
  transition: 0.2s;
  margin-top: -3px;
}
.col ul li {
  color: white;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  transition: 0.2s;
}

.clearfix {
clear: both;
}
.link_pages{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}


