<!DOCTYPE html>
<html>
    <head>
        <title>Emploi du temps</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
        <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' rel='stylesheet' />        
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% csrf_token %}
        <script>
        const PAS_DE_TECHNICIEN = 0;
        const UN_TECHNICIEN = 1;
        //Création du csrftoken, pour empêcher les attaques de type CSRF
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({
                editable: true,
                height: 'auto',
                contentHeight : 300,
                eventResizableFromStart: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                displayEventTime: false,
                eventSources: [
                    '/all_taches',
                    '/all_absences'    
                ],
                eventRender: function(event, element) {
                    element.css('font-weight', 'bold');
                    if(event.type != 'absence') {
                        element.addClass('borderTaches');
                    }
                    if(event.type == 'absence') {
                        id_abs = event.id_abs;
                        var techniciensText = '';
                        $.ajax({
                            url: '/get_techniciens_abs/'+ id_abs +'/',
                            type: 'GET',
                            dataType: 'json',
                            success: function(data) {
                                var techniciens = data.techniciens;
                                switch (techniciens.length){
                                    case PAS_DE_TECHNICIEN:
                                        break;
                                    case UN_TECHNICIEN: 
                                        //Si 1 technicien alors on affiche son nom et prénom
                                        techniciensText =techniciens[0].prenom + ' ' + techniciens[0].nom;
                                        break;
                                    default:
                                        //Si + de 1 technicien alors on affiche le nom et prénom de chacun en les séparant par une virgule
                                        for (var i = 0; i < techniciens.length; i++) {
                                            techniciensText += techniciens[i].prenom + ' ' + techniciens[i].nom + ', ';
                                        }
                                        techniciensText = techniciensText.slice(0, -2);
                                        break;
                                }
                                element.append('<div class="fc-content"><span class="fc-title">' + event.titre+'<br>'+ "techniciens : " + techniciensText + '</span></div>');
                                element.find('.fc-title').css({
                                        'position': 'relative',
                                        'z-index': '99999',
                                        'color': '#F5F3F3',
                                        'align-items': 'center',
                                        'display': 'flex',
                                        'justify-content': 'center',
                                        'margin-top': '50px',
                                });
                            }                            
                        })                                          
                    }
                },
                // Evenement lors de la redimension d'une tache par l'interface
                eventResize: function(info) {
                    console.log(info);
                    var notification = info.notification;
                    var start = moment(info.start).format('YYYY-MM-DD HH:mm:ss');
                    var end = moment(info.end).format('YYYY-MM-DD HH:mm:ss');
                    $.ajax({
                        type: "POST",
                        url: '/update/'+ notification +'/',
                        dataType: "json",
                        data: {
                            'start': start,
                            'end': end,
                            'csrfmiddlewaretoken': csrftoken
                        },
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                        },
                        error: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Modification impossible. Erreur system');
                        }
                    });
                },
                // Evenement lors de déplacement d'une tache par l'interface
                eventDrop: function (event) {
                    var notification = event.notification;
                    var start =  moment(event.start).format('YYYY-MM-DD HH:mm:ss');
                    var end = moment(event.end).format('YYYY-MM-DD HH:mm:ss');
                    $.ajax({
                        type: "POST",
                        url: '/update/'+ notification +'/',
                        data: {
                            'start': start,
                            'end': end,
                            'csrfmiddlewaretoken': csrftoken
                        },
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                        },
                        error: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Modification impossible. Erreur system');
                        }
                    });
                },
                // Gestion des clics sur les taches
                eventClick: function(event) {
                    var notification = event.notification
                    // Remplir les champs de la boîte de dialogue modal avec les détails de l'événement
                    $('#titre').html(event.title);
                    $('#start').html(moment(event.start).format('DD/MM/YYYY'));
                    $('#end').html(moment(event.end).format('DD/MM/YYYY'));
                    $('#notification').html(notification);
                    $('#sn').html(event.sn);
                    $('#pn').html(event.pn);
                    $('#lieu').html(event.lieu);
                    $('#type').html(event.type);
                    $('#statut').html(event.statut);
                    $('#nom_client').html(event.nom_client);
                    $('#commentaire').html(event.commentaire);

                    // Récupère les techniciens associés à la tache
                    $.ajax({
                        url: '/get_techniciens/'+ notification +'/',
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            var techniciens = data.techniciens;
                            var techniciensText = '';
                            switch (techniciens.length){
                                case PAS_DE_TECHNICIEN:
                                    //Si pas de technicien alors on affiche rien
                                    $('#techniciens').html(techniciensText);
                                    break;
                                case UN_TECHNICIEN: 
                                    //Si 1 technicien alors on affiche son nom et prénom
                                    techniciensText =techniciens[0].prenom + ' ' + techniciens[0].nom;
                                    $('#techniciens').html(techniciensText);
                                    break;
                                default:
                                    //Si + de 1 technicien alors on affiche le nom et prénom de chacun en les séparant par une virgule
                                    for (var i = 0; i < techniciens.length; i++) {
                                        techniciensText += techniciens[i].prenom + ' ' + techniciens[i].nom + ', ';
                                    }
                                    techniciensText = techniciensText.slice(0, -2);
                                    $('#techniciens').html(techniciensText);
                                    break;
                            }                            
                        },
                        error: function(data) {
                            calendar.fullCalendar('refetchEvents');
                            console.log('Erreur lors de la récupération des techniciens');
                        }                   
                    });
                    $('#eventModal').modal('show');
                    // Modification d'une tâche
                    $('#editEventButton').off('click');
                    $('#editEventButton').click(function() {
                        $('#eventModal').modal('hide');
                        //Affectation des données associé à la tache dans le formulaire de modification du modal
                        $('#titre_modif').val(event.title);
                        $('#start_modif').val(event.start.toISOString().slice(0,10));
                        $('#end_modif').val(event.end.toISOString().slice(0,10));
                        $('#notification_modif').val(notification);
                        $('#sn_modif').val(event.sn);
                        $('#pn_modif').val(event.pn);
                        $('#lieu_modif').val(event.lieu);
                        $('#type_modif').val(event.type);
                        $('#statut_modif').val(event.statut);
                        $('#nom_client_modif').val(event.nom_client);
                        $('#commentaire_modif').val(event.commentaire);
                        
                        // Récupère les techniciens associés à la tache et check les bonnes checkboxs du modal
                        $.ajax({
                            url: '/get_Id_techniciens/'+ notification +'/',
                            type: 'GET',
                            dataType: 'json',
                            success: function(data) {
                                var techniciens = data.techniciens;
                                switch (techniciens.length){
                                    case PAS_DE_TECHNICIEN:
                                        //Si pas de technicien alors on affiche rien
                                        $('#tech1_modif').prop('checked', false);
                                        $('#tech2_modif').prop('checked', false);
                                        break;
                                    case UN_TECHNICIEN:
                                        //Si un technicien alors on check une checkbox
                                        if(techniciens[0].id_tech = 1) {
                                            $('#tech1_modif').prop('checked', true);
                                            $('#tech2_modif').prop('checked', false);
                                        } else {
                                            $('#tech1_modif').prop('checked', false);
                                            $('#tech2_modif').prop('checked', true);
                                        }
                                        break;
                                    default:
                                        $('#tech1_modif').prop('checked', true);
                                        $('#tech2_modif').prop('checked', true);
                                        break;
                                }
                            },
                            error: function(data) {
                                calendar.fullCalendar('refetchEvents');
                                console.log('Erreur lors de la récupération des techniciens');
                            },  
                        });

                        //Afichage du modal bootstrap (popUp)
                        $('#modifModal').modal('show');

                        //Gestion bouton valider du modal modification
                        $('#validerModif').off('click');
                        $('#validerModif').click(function() {                          
                            if(verifierFormulaire(document.getElementById('form_modif'))) {
                                var oldNotification = notification;
                                var newNotification = $('#notification_modif').val();
                                $.ajax({
                                    type: 'POST',
                                    url: '/modifier_tache/'+ oldNotification +'/'+ newNotification +'/',
                                    data: $('#form_modif').serialize(),
                                    success: function(response) {
                                        calendar.fullCalendar('refetchEvents');
                                        $('#modifModal').modal('hide');
                                        console.log('Modification de la Tache effectuées');

                                        //Reprogrammation à l'année prochaine d'une tache de type VGP on site terminé.
                                        if ($('#type_modif').val() == 'VGP' && $('#statut_modif').val() == 'fini' && $('#lieu_modif').val() == 'on site') {
                                            var data = $('#form_modif').serialize();
                                            var start = new Date($('#start_modif').val());
                                            var end = new Date($('#end_modif').val());                                 
                                            start.setFullYear(start.getFullYear() + 1);
                                            end.setFullYear(end.getFullYear() + 1);
                                            data = data.replace(/start=[^&]*/, 'start=' + start.toISOString().slice(0,10));
                                            data = data.replace(/end=[^&]*/, 'end=' + end.toISOString().slice(0,10));
                                            $.ajax({
                                                type: 'POST',
                                                url: '/save_tache/',
                                                data: data,
                                                dataType: 'json',
                                                success: function(response) {
                                                    calendar.fullCalendar('refetchEvents');
                                                    $('#modifModal').modal('hide');
                                                    console.log('Reprogrammation de la tache VGP on site réussi.');
                                                },
                                                error: function(error) {
                                                    calendar.fullCalendar('refetchEvents');
                                                    alert('Erreur lors de la reprogrammation de la tache VGP : ' + error)
                                                    console.log('Erreur lors de la reprogrammation de la tache VGP : ' + error);
                                                }
                                            });
                                        }
                                        if(oldNotification!=newNotification) {
                                            $.ajax({
                                                type: "GET",
                                                url: '/remove/'+ oldNotification +'/',
                                                dataType: "json",
                                                success: function (data) {
                                                    calendar.fullCalendar('refetchEvents');
                                                },
                                                error: function (data) {
                                                    calendar.fullCalendar('refetchEvents');
                                                    alert('Suppression impossible. Erreur système');
                                                }                            
                                            });
                                        }
                                    },
                                    error: function(error) {
                                        if (error.status === 400) {
                                            alert('Vous ne pouvez pas modifier une tache avec une service notification déjà existante');
                                        } else {
                                            calendar.fullCalendar('refetchEvents');
                                            alert('Erreur lors la modification des données')
                                            console.log('Erreur lors la modification des données');
                                        }
                                        
                                    }
                                });
                            }
                        });
                    });

                    // Bouton supprimer du modal description
                    $('#deleteEventButton').off('click');
                    $('#deleteEventButton').click(function() {
                        $.ajax({
                            type: "GET",
                            url: '/remove/'+ notification +'/',
                            dataType: "json",
                            success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                            },
                            error: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                alert('Suppression impossible. Erreur système');
                            }                            
                        });
                        $('#eventModal').modal('hide');
                    });
                }
            });
        });

        //Après la suppression on ferme le modal
        $('#eventModal').on('hidden.bs.modal', function (e) {
            $('#editEventButton').off('click');
            $('#deleteEventButton').off('click');
        });
        </script>

        <!-- Le modal description d'une tache -->
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventModalLabel">Détails de l'événement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenu de la boîte de dialogue modale -->
                        <p><strong>Titre :</strong> <span id="titre"></span></p>
                        <p><strong>Début :</strong> <span id="start"></span></p>
                        <p><strong>Fin :</strong> <span id="end"></span></p>
                        <p><strong>Service notification :</strong> <span id="notification"></span></p>
                        <p><strong>Serial number :</strong> <span id="sn"></span></p>
                        <p><strong>PN :</strong> <span id="pn"></span></p>
                        <p><strong>Lieu :</strong> <span id="lieu"></span></p>
                        <p><strong>Type :</strong> <span id="type"></span></p>
                        <p><strong>Statut :</strong> <span id="statut"></span></p>
                        <p><strong>Nom du client :</strong> <span id="nom_client"></span></p>
                        <p><strong>Technicien(s) :</strong> <span id="techniciens"></span></p>
                        <p><strong>Commentaire :</strong> <span id="commentaire"></span></p>
                    </div>
                    <div class="modal-footer">
                        <div class="mr-auto">
                            <button type="button" class="btn btn-danger" id="deleteEventButton">Supprimer</button>
                        </div>
                        <div class="ml-auto">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary" id="editEventButton">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal modification -->
        <div class="modal fade" id="modifModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventModalLabel">Détails de l'événement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form_modal_modif" id="form_modif">
                            {% csrf_token %}
                            <div class="form_item_modal_input">
                                <label for="titre_modif">Titre :</label>
                                <input type="text" id="titre_modif" name="titre" maxlength="50" required>        
                            </div>
                            <div class="form_item_modal_input">
                                <label for="start_modif">Date de début :</label>
                                <input type="date" id="start_modif" name="start" required>
                            </div>
                            <div class="form_item_modal_input">
                                <label for="end_modif">Date de fin :</label>
                                <input type="date" id="end_modif" name="end" required>
                            </div>
                            <div class="form_item_modal_input">
                                <label for="notification_modif">Service notification :</label>
                                <input type="number" id="notification_modif" name="notification" step="any" min="100000000" max="999999999" required>
                            </div>
                            <div class="form_item_modal_input">
                                <label for="sn_modif">Serial number :</label>
                                <input type="text" id="sn_modif" name="sn" maxlength="50" required>
                            </div>
                            <div class="form_item_modal_input">
                                <label for="pn_modif">PN :</label>
                                <input type="text" id="pn_modif" name="pn" maxlength="50" required>  
                            </div>
                            <div class="form_item_modal_select">
                                <label for="lieu_modif">Lieu de l'opération:</label>
                                <select id="lieu_modif" name="lieu" required>
                                    <option value="in house" selected>In house</option>
                                    <option value="on site">On site</option>
                                </select><br>
                            </div>
                            <div class="form_item_modal_select">
                                <label for="type_modif">type d'opération :</label>
                                <select id="type_modif" name="type" required>
                                    <option value="VGP" selected>VGP</option>
                                    <option value="Reper">Reper</option>
                                </select><br>
                            </div>
                            <div class="form_item_modal_select">
                                <label for="statut_modif">Statut :</label>
                                <select id="statut_modif" name="statut" required>
                                    <option value="à faire" selected>à faire</option>
                                    <option value="en cours">en cours</option>
                                    <option value="fini">fini</option>
                                </select><br>
                            </div>
                            <div class="form_item_modal_input">
                                <label for="nom_client_modif">Nom du client :</label>
                                <input type="text" id="nom_client_modif" name="nom_client" maxlength="50" required><br>
                            </div>
                            <div class="form_item_modal_textarea">
                                <label for="commentaire_modif">*Commentaire :</label>
                                <textarea type="text" id="commentaire_modif" name="commentaire" maxlength="300"></textarea>
                            </div>
                            <div class="form_container_modal_checkbox">
                                <label>*Techniciens:</label>
                                <div class="test">
                                    <div class="form_item_modal_checkbox">
                                        <label>
                                            <input type="checkbox" id="tech1_modif" name="techniciens" value="1">
                                            Auriol Clément
                                        </label>
                                    </div>
                                    <div class="form_item_modal_checkbox">
                                        <label>
                                            <input type="checkbox" id="tech2_modif" name="techniciens" value="2">
                                            Galve Franck
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p>* Champ non obligatoire.</p>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" id="validerModif">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function verifierFormulaire(form) {
                // Récupération des champs du formulaire du modal bootstrap
                // Permet de vérifier si les informations du formulaire sont correctes
                var titre = form.titre_modif.value;
                var start = form.start_modif.value;
                var end = form.end_modif.value;
                var notification = form.notification_modif.value;
                var sn = form.sn_modif.value;
                var pn = form.pn_modif.value;
                var lieu = form.lieu_modif.value;
                var type = form.type_modif.value;
                var statut = form.statut_modif.value;
                var nom_client = form.nom_client_modif.value;
                
                //On vérifie si les champs sont vides
                if (titre == "" ||
                    start == "" ||
                    end == "" ||
                    notification == "" ||
                    sn == "" ||
                    pn == "" ||
                    lieu == "" ||
                    type == "" ||
                    statut == "" ||
                    nom_client == "") {
                    alert("Veuillez remplir tous les champs requis.");
                    return false;
                }
                // Msg d'erreur si la date de fin est inférieur à la date de début
                if(new Date(start)>new Date(end)) {
                    alert("La date de fin ne peut pas être inférieur à la date de début.");
                    return false;
                }
                // On vérifie si la notification comporte exactement 9 chiffres
                if (notification.toString().length != 9) {
                    alert("Le champ 'Service notification' doit être composé de 9 chiffres.");
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>