<footer>
    <div class="footer">
        <div class="link_pages">
            <div class="col">
                <h3>À propos :</h3>
                <p>HYDRO Systems France SAS</p>
            </div>
            <div class="col">
                <aside>
                    <h3>Localisation :</h3>
                </aside>
                <ul>
                    <li>Adresse : 17 chemin de la salvetat</li>
                    <li>Ville : Colomiers</li>
                    <li>Code postal : 31770</li>
                    <li>Pays : France</li>
                </ul>
            </div>
        </div>
    </div>
</footer>